{% extends 'secondbase.html' %}
{% load static %}
{% block title %} main home{%endblock%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
        height: 90vh;
        width:200vh;
    }
</style>
</head>
<body>
    
    <img src="{% static 'images\madappaly2.jpg'  %}" width=300 px/>
    
        </body>
</html>
{% endblock %}


